*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.media:hover {
	background-color: #FBFBFB;

}
.logo{
    margin: 5px;
}
#comics{
    display: grid;
    grid-template-columns: repeat(3,1fr);
 
}
.menu-container{
background: rgb(20, 20, 20);

}
a{
    color: white;
}
a:hover{
    color: rgb(6, 194, 207);
}
.btn{
    background: blue;
    color:#FBFBFB;
}
.slider{
    width:1000px;
    margin: auto;
}